<h1>Botpress Accuracy Checker</h1>
<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Create JSON Training Data', new_training_data_path %></li>
  <li class="list-group-item"><%= link_to 'Create Score Chart', new_score_chart_path %></li>
</ul>
